{% extends 'layout.html.twig' %}

{% block title %}Arcade{% endblock %}

{% block body %}
    <div class="pt-24">
        {% embed "blocks/title.html.twig" with {'pagetitle': "Nine Arcade Adventure"} %}{% endembed %}
    </div>

    <section class="bg-white py-10">
        <div class="container">
            <div class="mb-10">
                Tout est parti d’un magazine qui trainait sur une table au boulot, et hop pourquoi pas nous lancer dans la réalisation d’une borne. Ah oui ! Mais d’en avoir une à la maison ce serait encore mieux.
            </div>
            <div class="">
                Pour mon arcade perso, j’étais d’abord partie sur l’idée d’acheter un kit bartop prêt à monter. Cependant ceux de base, permettant de recevoir un écran jusqu’à 19", me paraissent insuffisamment larges pour jouer à deux. Quant aux versions XXL, les différents tarifs sont rédhibitoires.  Je pèse le pour et le contre, j’évalue les budgets selon les modèles et le matériel que j’aimerais intégrer. Puis se rappellent à moi mes années de bricolage, et quoi de plus challengeant que de faire tout moi-même ! Le défi est lancé.
            </div>
        </div>
    </section>

    <section class="bg-gray-light-nine py-10">
        <div class="container">
            <h3 class="my-10 text-2xl font-accent font-semibold text-turquoise">This is it!</h3>
            {% set listItemsArcade = data.arcadeList['final'] %}
            <div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
                {% for arcade in listItemsArcade %}
                    <div class="shadow-lg mb-4">
                        <a href="{{ absolute_url('images/arcade/final/' ~ arcade) }}" class="glightbox9" data-gallery="gallery-final">
                            <img src="{{ absolute_url('images/arcade/final/' ~ arcade) }}" alt="" class="rounded" />
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="bg-white py-10">
        <div class="container">
            <h3 class="my-10 text-2xl font-accent font-semibold text-turquoise">Step#1: les plans.</h3>
            <p class="mb-10">Je regarde ce qu’il se fait... Les plans pour bartop n’envahissent pas le web, et ne
                correspondent pas entièrement à ce que j’ai en tête. Ok, alors allons-y pour un plan
                personnalisé. Je suis partie des plans mis à dispo par
                <a href="http://forum.hfsplay.fr/plans-prets-emploi/bartop-frankeez-version-t8468.html" alt="Frankeezz" target="_blank">Frankeezz</a>.
                Je souhaite limiter au max la hauteur du control panel, tout en y insérant un tiroir pour un clavier.</p>
            {% set listItemsArcade = data.arcadeList['at-the-beginning'] %}
            <div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
                {% for arcade in listItemsArcade %}
                    <div class="shadow-lg mb-4">
                        <div>
                            <a href="{{ absolute_url('images/arcade/at-the-beginning/' ~ arcade) }}" class="glightbox9" data-gallery="gallery-beginning">
                                <img src="{{ absolute_url('images/arcade/at-the-beginning/' ~ arcade) }}" alt="" class="rounded">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="bg-gray-light-nine py-10">
        <div class="container">
            <h3 class="my-10 text-2xl font-accent font-semibold text-turquoise">Step#2 : la découpe.</h3>
            <p class="mb-10">L'étape la plus importante, et aussi la plus délicate quand on est perfectionniste !</p>

            <h4 class="text-perfect text-xl font-semibold text-center mt-10 mb-8">[Side Panels]</h4>
            {% set listItemsArcade = data.arcadeList['side-panels'] %}
            <div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
                {% for arcade in listItemsArcade %}
                    <div class="shadow-lg mb-4">
                        <div>
                            <a href="{{ absolute_url('images/arcade/side-panels/' ~ arcade) }}" class="glightbox9" data-gallery="gallery-side">
                                <img src="{{ absolute_url('images/arcade/side-panels/' ~ arcade) }}" alt="" class="rounded">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <h4 class="text-perfect text-xl font-semibold text-center mt-10 mb-8">[Control Panel]</h4>
            {% set listItemsArcade = data.arcadeList['control-panel'] %}
            <div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
                {% for arcade in listItemsArcade %}
                    <div class="shadow-lg mb-4">
                        <div>
                            <a href="{{ absolute_url('images/arcade/control-panel/' ~ arcade) }}" class="glightbox9" data-gallery="gallery-control">
                                <img src="{{ absolute_url('images/arcade/control-panel/' ~ arcade) }}" alt="" class="rounded">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <h4 class="text-perfect text-xl font-semibold text-center mt-10 mb-8">[Upper Part]</h4>
            {% set listItemsArcade = data.arcadeList['upper-part'] %}
            <div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
                {% for arcade in listItemsArcade %}
                    <div class="shadow-lg mb-4">
                        <div>
                            <a href="{{ absolute_url('images/arcade/upper-part/' ~ arcade) }}" class="glightbox9" data-gallery="gallery-upper">
                                <img src="{{ absolute_url('images/arcade/upper-part/' ~ arcade) }}" alt="" class="rounded">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <h4 class="text-perfect text-xl font-semibold text-center mt-10 mb-8">[Back Side]</h4>
            {% set listItemsArcade = data.arcadeList['back-side'] %}
            <div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
                {% for arcade in listItemsArcade %}
                    <div class="shadow-lg mb-4">
                        <div>
                            <a href="{{ absolute_url('images/arcade/back-side/' ~ arcade) }}" class="glightbox9" data-gallery="gallery-back">
                                <img src="{{ absolute_url('images/arcade/back-side/' ~ arcade) }}" alt="" class="rounded">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="bg-white py-10">
        <div class="container">
            <h3 class="my-10 text-2xl font-accent font-semibold text-turquoise">Step#3 : l’assemblage.</h3>
            <p class="mb-10">Les différentes pièces se finalisent petit à petit, on monte et on redémonte histoire de
                contrôler que tout est ok. Au passage un petit coup de peinture. Ca se précise !</p>
            {% set listItemsArcade = data.arcadeList['assembling'] %}
            <div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
                {% for arcade in listItemsArcade %}
                    <div class="shadow-lg mb-4">
                        <div>
                            <a href="{{ absolute_url('images/arcade/assembling/' ~ arcade) }}" class="glightbox9" data-gallery="gallery-assembling">
                                <img src="{{ absolute_url('images/arcade/assembling/' ~ arcade) }}" alt="" class="rounded">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="bg-gray-light-nine py-10">
        <div class="container">
            <h3 class="my-10 text-2xl font-accent font-semibold text-turquoise">Step#4 : le design.</h3>
            <p class="mb-10">Retour en enfance, ma première console a été la NES. Ayant grandi entre les héros de Super Mario
                et Super Mario Kart, l’évidence a été de baser ma déco sur ce thème avec des design assez
                modernes malgré tout.</p>
            {% set listItemsArcade = data.arcadeList['design'] %}
            <div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
                {% for arcade in listItemsArcade %}
                    <div class="shadow-lg mb-4">
                        <a href="{{ absolute_url('images/arcade/design/' ~ arcade) }}" class="glightbox9" data-gallery="gallery-design">
                            <img src="{{ absolute_url('images/arcade/design/' ~ arcade) }}" alt="" class="rounded" />
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="bg-white py-10">
        <div class="container">
            <h3 class="my-10 text-2xl font-accent font-semibold text-turquoise">Step#5 : l’émulateur.</h3>
            <p class="mb-10">Sur ce point j’ai surtout suivi les conseils de mes collègues. Un petit
                <a href="https://www.recalbox.com" title="RecalBox" target="_blank">RecalBox</a> viendra
                s’installer dans ma borne.</p>
            {% set listItemsArcade = data.arcadeList['recalbox'] %}
            <div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
                {% for arcade in listItemsArcade %}
                    <div class="shadow-lg mb-4">
                        <div>
                            <a href="{{ absolute_url('images/arcade/recalbox/' ~ arcade) }}" class="glightbox9" data-gallery="gallery-recalbox">
                                <img src="{{ absolute_url('images/arcade/recalbox/' ~ arcade) }}" alt="" class="rounded">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
