<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Caroline Noyer | {% block title %}Product Owner{% endblock %}</title>
        
        <link rel="shortcut icon" type="image/x-icon" href="{{ absolute_url('images/global/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ absolute_url('images/global/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ absolute_url('images/global/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ absolute_url('images/global/favicon-16x16.png') }}">

        <meta name="keywords" content="CV,Design,Product Owner,Développeur,Développeur web full-stack,PHP,Symfony">
        <meta name="author" content="Caroline Noyer">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index,follow">
        <meta name="googlebot" content="index,follow">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="main">
            <!--Header-->
            <header class="bg-transparent sticky-bar mt-4">
                <div class="container bg-transparent">
                    <nav class="bg-transparent flex justify-between items-center py-3">
                        <a class="text-3xl font-semibold leading-none" href="https://wp.alithemes.com/html/monst/index.html">
                            <img id="logo" class="h-10" src="https://medias.carolinenoyer.fr/images/logo-cnoyer-full-250-white.svg" alt="">
                        </a>
                        <ul class="hidden lg:flex lg:items-center lg:w-auto lg:space-x-12">
                            <li class="pt-4 pb-4"><a href="https://wp.alithemes.com/html/monst/index.html" class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500">Home</a>
                            </li>
                            <li class="pt-4 pb-4"><a class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500" href="https://wp.alithemes.com/html/monst/about.html">About Us</a>
                            </li>
                            <li class="pt-4 pb-4"><a class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500" href="https://wp.alithemes.com/html/monst/services.html">Services</a>
                            </li>
                            <li class="pt-4 pb-4"><a class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500" href="https://wp.alithemes.com/html/monst/#">Company</a>
                            </li>
                            <li class="pt-4 pb-4"><a class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500" href="https://wp.alithemes.com/html/monst/#">Blog</a>
                            </li>
                            <li class="pt-4 pb-4"><a class="text-sm font-semibold text-blueGray-600 hover:text-blueGray-500" href="https://wp.alithemes.com/html/monst/contact.html">Contact</a></li>
                        </ul>
                        <div class="lg:hidden">
                            <button class="navbar-burger flex items-center py-2 px-3 text-blue-500 hover:text-blue-700">
                                <svg class="fill-current h-6 w-6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                                    <title>Mobile menu</title>
                                    <!--path d="M0 3h20v2H0V3zm0 6h10v2H0V9zm0 6h15v2H0v-2z"></path-->
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M 2 20 l 16 0 M 2 4 l 20 0 M 2 12 l 12 0"></path>

                                </svg>
                            </button>
                        </div>
                    </nav>
                </div>
            </header>

            <!--Mobile menu-->
            <div class="hidden navbar-menu relative z-1000 transition duration-300">
                <div class="navbar-backdrop fixed inset-0 bg-blue-dark opacity-25"></div>
                <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto transition duration-300">
                    <div class="flex items-center mb-8">
                        <a class="mr-auto text-3xl font-semibold leading-none" href="https://wp.alithemes.com/html/monst/#">
                            <img class="h-10" src="https://medias.carolinenoyer.fr/images/logo-cnoyer-full-250.svg" alt="">
                        </a>
                        <button class="navbar-close">
                            <svg class="h-6 w-6 text-blue-gray-400 cursor-pointer hover:text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </div>
                    <div>
                        <ul class="mobile-menu">
                            <li class="mb-1 rounded-xl">
                                <a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500 rounded-xl" href="https://wp.alithemes.com/html/monst/#">Home</a>
                            </li>
                            <li class="mb-1 rounded-xl">
                                <a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500 rounded-xl" href="https://wp.alithemes.com/html/monst/about.html">About Us</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500" href="https://wp.alithemes.com/html/monst/services.html">Services</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500" href="https://wp.alithemes.com/html/monst/portfolio.html">Portfolio</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500" href="https://wp.alithemes.com/html/monst/pricing.html">Pricing</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500" href="https://wp.alithemes.com/html/monst/team.html">Team</a>
                            </li>
                            <li class="mb-1 rounded-xl">
                                <a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500" href="https://wp.alithemes.com/html/monst/team.html">Blog</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500" href="https://wp.alithemes.com/html/monst/faqs.html">Faqs</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500" href="https://wp.alithemes.com/html/monst/testimonials.html">Testimonial</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500" href="https://wp.alithemes.com/html/monst/contact.html">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <!--div class="mt-auto">
                        <p class="my-4 text-xs text-blue-gray-400">
                            <span>Get in Touch</span>
                            <a class="text-blue-500 hover:text-blue-500 underline" href="https://wp.alithemes.com/html/monst/#">contact@monst.com</a>
                        </p>
                        <a class="inline-block px-1" href="https://wp.alithemes.com/html/monst/#">
                            <img src="./Monst_Page_files/facebook-blue.svg" alt="">
                        </a>
                        <a class="inline-block px-1" href="https://wp.alithemes.com/html/monst/#">
                            <img src="./Monst_Page_files/twitter-blue.svg" alt="">
                        </a>
                        <a class="inline-block px-1" href="https://wp.alithemes.com/html/monst/#">
                            <img src="./Monst_Page_files/instagram-blue.svg" alt="">
                        </a>
                    </div-->
                </nav>
            </div>

            <!--Hero-->
            <section class="home-area -mt-24 pt-24 static">
                <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-2 lg:gap-x-8">
                    <div class="md:pt-12">
                        <img class="lg:h-80 h-40 mx-auto jump rounded wow animate__animated animate__fadeInUp animated" src="https://carolinenoyer.fr/images/logo-nine-2021.png" alt="" style="visibility: visible; animation-name: jump;">
                    </div>
                    <div class="mb-16 mt-12 lg:mt-32 xl:mt-40 xl:mr-12">
                        <div class="max-w-2xl mx-auto mb-8">
                            <h2 class="text-3xl text-white lg:text-5xl lg:leading-normal mb-4 font-bold font-heading wow animate__ animate__fadeIn animated" style="visibility: visible; animation-name: fadeIn;">Passionnée par le <span class="text-turquoise">digital</span> depuis 2005</h2>
                            <p class="text-blue-gray-400 text-xl leading-relaxed wow animate__ animate__fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><strong class="text-blue-500">Expérience</strong> en <span id="typedtext" class="text-white typewrite d-inline text-brand" data-period="3000" data-type="[&quot;Product Owner&quot;, &quot;UX Design&quot;, &quot;Développement web&quot; ]"></span></p>
                        </div>
                        <div class="max-w-2xl mx-auto">
                            <div class="text-blue-gray-400 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full border-white border-2">
                                <a href="https://www.linkedin.com/in/carolinenoyer" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                            </div>
                            
                        </div>
                    </div>
                </div> <!-- end of container -->
            </section>
            <div class="relative bottom-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="absolute left-0 w-full block" viewBox="0 0 1440 320" style="height:140px;top:-139px" preserveAspectRatio="none"><path class="fill-white" fill-opacity="1" d="M 0 288 L 80 288 C 160 288 320 288 480 245.3 C 640 203 800 117 960 96 C 1120 75 1280 117 1360 138.7 L 1440 160 L 1440 320 L 0 320 Z"></path></svg>
            </div>
                


        {% block body %}
        {{page}}
        <div style="height: 1000px;"></div>
        
        {% endblock %}
        

            <!-- Footer start -->
            <footer class="py-20 footer">
                <section class="py-20">
                    <div class="container px-4 mx-auto wow animate__animated animate__fadeIn" data-wow-delay=".3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                        <div class="flex flex-wrap mb-12 lg:mb-20 -mx-3 text-center lg:text-left">
                            <div class="w-full lg:w-1/5 px-3 mb-6 lg:mb-0">
                                <a class="inline-block mx-auto lg:mx-0 text-3xl font-semibold leading-none" href="https://wp.alithemes.com/html/monst/index.html">
                                    <img class="h-10" src="https://medias.carolinenoyer.fr/images/logo-2024-colored.png" alt="">
                                </a>
                            </div>
                            <div class="w-full lg:w-2/5 px-3 mb-8 lg:mb-0">
                                <p class="max-w-md mx-auto lg:max-w-full lg:mx-0 lg:pr-32 lg:text-lg text-blue-gray-400 leading-relaxed">Helping you <strong>maximize</strong> operations management with digitization</p>
                            </div>
                            <div class="w-full lg:w-1/5 px-3 mb-8 lg:mb-0">
                                <p class="mb-2 lg:mb-4 lg:text-lg text-smallcaps text-turquoise">Parcours</p>
                                <p class="lg:text-lg text-blue-gray-400">359 Hidden Valley Road, NY</p>
                            </div>
                            <div class="w-full lg:w-1/5 px-3">
                                <p class="mb-2 lg:mb-4 lg:text-lg text-smallcaps text-turquoise">Centres d'intérêt</p>
                                <p class="lg:text-lg text-blue-gray-400">(+01) 234 568</p>
                                <p class="lg:text-lg text-blue-gray-400">contact@monst.com</p>
                            </div>
                        </div>
                        <div class="flex flex-col lg:flex-row items-center lg:justify-between">
                            <p class="text-sm text-blue-gray-400">© 2021. All rights reserved. Designed by <a class="text-blue-400" href="https://alithemes.com/" target="_blank">Alithemes.com</a></p>
                            <div class="order-first lg:order-last -mx-2 mb-4 lg:mb-0">
                                <a class="inline-block px-2" href="https://wp.alithemes.com/html/monst/#">
                                    FB
                                </a>
                                <a class="inline-block px-2" href="https://wp.alithemes.com/html/monst/#">
                                    twitter
                                </a>
                                <a class="inline-block px-2" href="https://wp.alithemes.com/html/monst/#">
                                    instagram
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
        </div>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
            <script src="https://kit.fontawesome.com/e13f84fe9c.js" crossorigin="anonymous"></script>
            
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
