{% extends 'layout.html.twig' %}

{% block title %}Compétences{% endblock %}
{% block meta %}
        <meta name="title" content="Caroline Noyer — Product Owner">
        <meta name="description" content="Product owner depuis 4 ans sur des produits SaaS B2B, compétences UX et 12 ans de background technique dans le développement web. Dynamique, autonome et minutieuse.">
        <meta name="keywords" content="CV,Design,Product Owner,Développeur,Développeur web full-stack,PHP,Symfony">
{% endblock %}

{% block body %}
    <div class="pt-24">
        {% embed "blocks/title.html.twig" with {'pagetitle': "Compétences"} %}{% endembed %}
    </div>

    <div class="container text-perfect">
        A travers mes expériences de développeur web et de Product Owner, j'ai eu l'occasion de travailler sur de diverses technologies et différents outils. Ceci est une liste non exhaustive
        de mes compétences.


        <!--
        A travers mes expériences en tant que développeur web et Product Owner, j'ai eu le privilège de plonger dans un vaste éventail de technologies et d'outils. Cette immersion variée m'a permis d'acquérir un ensemble de compétences diversifié et adaptable, parfaitement adapté pour répondre aux défis et aux exigences changeantes du développement de produits numériques. Voici une liste non exhaustive de mes compétences :

Développement Front-end :

Maîtrise des langages HTML, CSS et JavaScript pour la création d'interfaces utilisateur dynamiques et attractives.
Expérience avec les frameworks et bibliothèques front-end tels que React.js, Angular et Vue.js pour la construction d'applications web modernes et réactives.
Connaissance approfondie des principes de conception web et de l'accessibilité pour garantir une expérience utilisateur optimale sur tous les appareils et navigateurs.
Développement Back-end :

Compétences en développement back-end avec des technologies telles que Node.js, Express.js et Django pour la construction de serveurs robustes et évolutifs.
Expérience dans la conception et la mise en œuvre de bases de données relationnelles et non relationnelles, notamment MySQL, PostgreSQL et MongoDB.
Familiarité avec la mise en place de services web RESTful et GraphQL pour la communication entre le front-end et le back-end.
Gestion de projet et Product Ownership :

Capacité à élaborer des roadmaps produits et à prioriser les fonctionnalités en fonction de la valeur client et des objectifs stratégiques.
Expérience dans la rédaction de user stories claires et concises, ainsi que dans la gestion efficace des backlogs de produits.
Compétences en communication interdisciplinaire pour faciliter la collaboration entre les équipes de développement, les parties prenantes et les utilisateurs finaux.
Outils et technologies supplémentaires :

Utilisation de systèmes de contrôle de version tels que Git pour la gestion du code source et la collaboration avec d'autres développeurs.
Expérience avec des plates-formes d'hébergement cloud telles que AWS, Azure et Google Cloud Platform pour le déploiement et la gestion d'applications web.
Connaissance des méthodologies de développement Agile, notamment Scrum et Kanban, pour la livraison itérative et incrémentale de produits de haute qualité.
Cette liste démontre ma capacité à naviguer avec succès à travers les complexités du développement web et de la gestion de produits, en m'appuyant sur un large éventail de compétences techniques et fonctionnelles. Je suis toujours prêt à relever de nouveaux défis et à m'adapter aux innovations technologiques pour créer des produits numériques exceptionnels et répondre aux besoins changeants du marché.
        -->
    </div>

    {% for type in data.skillTypesList %}
        <section class="{% if loop.index is even %}bg-gray-light-nine{% else %}bg-white{% endif %} py-10">
            <div class="container items-start flex flex-col w-full mt-0 lg:flex-row sm:mt-10 lg:mt-10">
                <div class="flex flex-col sticky content-center md:top-36 max-w-md p-4 mb-0 sm:mb-16 lg:mb-0 lg:w-1/4 wow animate__animated animate__fadeInLeft" data-wow-delay="0.6s">
                    <h3 class="text-2xl text-turquoise font-semibold mb-6">{{ type.name }}</h3>
                    <div class="line h-1"></div>
                    <img src="{{ absolute_url('images/skills/' ~ type.logo) }}" alt="{{ type.name }}" width="250px">
                </div>

                <div class="w-full p-4 mx-4 mb-0 sm:mb-16 lg:mb-0 lg:w-3/4 wow animate__animated animate__fadeInRight" data-wow-delay="0.6s">
                    {% set skills = data.skillsList[type.label] %}
                    <div class="grid max-w-4xl lg:max-w-6xl grid-cols-2 mx-4 text-center gap-y-4 sm:gap-x-8 sm:grid-cols-2 lg:grid-cols-3 sm:text-left">
                        {% for skill in skills %}
                        <div class="skill relative flex flex-wrap gap-4 bg-white mb-8 shadow-lg rounded-lg">
                            <div class="px-4 py-5 flex-auto w-full">
                                <h6 class="text-xl font-semibold">{{ skill.name|raw }}</h6>
                                <div class="skill-level align-middle content-center w-full">
                                    <img src="{{ absolute_url('images/skills/' ~ skill.label ~ '.png') }}" class="w-20 mx-auto my-3" alt="{{ skill.name }}" />
                                    <div class=" pt-1">
                                        <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-[#fde68a]">
                                            <div style="width:{{ skill.level * 10 }}%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-[#f59e0b]"></div>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-2 mb-2 text-[#374151]">
                                    {% if skill.duration is not empty %}
                                        XP  {{ skill.duration }}
                                    {% else %}
                                        <em>En cours...</em>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}

{% endblock %}
