{% extends 'layout.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <div class="pt-24">
        {% embed "blocks/title.html.twig" with {'pagetitle': "Formation"} %}{% endembed %}
    </div>

    <section class="bg-white py-10">
        <div class="flex flex-col w-full mt-0 lg:flex-row sm:mt-10 lg:mt-10">
            <div class="w-full max-w-md p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-1/4 wow animate__animated animate__fadeInLeft" data-wow-delay="0.6s">
                <h3 class="text-2xl text-turquoise font-semibold mb-6">Formation professionnelle</h3>
                <img src="{{ absolute_url('images/school/formation-professionnelle.png') }}" alt="Formation professionnelle" width="250px" />
            </div>

            <div class="w-full max-w-xl p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-3/4 wow animate__animated animate__fadeInRight" data-wow-delay="0.6s">
                {% for education in data.educationsList %}
                    {% if education.type == 'pro' %}
                    <div class="bg-white mb-8 shadow-lg rounded-lg">
                        <div class="px-4 py-5 flex-auto w-full">
                            <h3 class="text-2xl font-accent font-semibold text-turquoise">{{ education.year }}</h3>
                            <h6 class="text-xl font-accent font-semibold text-perfect">{{ education.title }}</h6>
                            <div class="align-middle content-center w-full">
                                <img src="{{ absolute_url('images/school/' ~ education.school.logo) }}" class="w-20 mx-auto my-3" alt="{{ education.school.name }}">
                            </div>
                            <p class="mt-2 mb-2 text-[#374151]">
                                {{ education.school.name }}
                                - <span class="text-sm">{{ education.school.city }} ({{ education.school.department|format_number({min_integer_digit: '2'}) }})</span>
                            </p>
                            
                            <p class="mt-0"><strong>{{ education.details }}</strong></p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="bg-gray-light-nine py-10">
        <div class="flex flex-col w-full mt-0 lg:flex-row sm:mt-10 lg:mt-10">
            <div class="w-full max-w-md p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-1/4 wow animate__animated animate__fadeInLeft" data-wow-delay="0.6s">
                <h3 class="text-2xl text-turquoise font-semibold mb-6">Formation universitaire</h3>
                <img src="{{ absolute_url('images/school/formation-universitaire.png') }}" alt="Formation universitaire " width="250px" />
            </div>

            <div class="w-full max-w-xl p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-3/4 wow animate__animated animate__fadeInRight" data-wow-delay="0.6s">
                {% for education in data.educationsList %}
                    {% if education.type == 'univ' %}
                    <div class="bg-white mb-8 shadow-lg rounded-lg">
                        <div class="px-4 py-5 flex-auto w-full">
                            <h3 class="text-2xl font-accent font-semibold text-turquoise">{{ education.year }}</h3>
                            <h6 class="text-xl font-accent font-semibold text-perfect">{{ education.title }}</h6>
                            <div class="align-middle content-center w-full">
                                <img src="{{ absolute_url('images/school/' ~ education.school.logo) }}" class="w-20 mx-auto my-3" alt="{{ education.school.name }}">
                            </div>
                            <p class="mt-2 mb-2 text-[#374151]">
                                {{ education.school.name }}
                                - <span class="text-sm">{{ education.school.city }} ({{ education.school.department|format_number({min_integer_digit: '2'}) }})</span>
                            </p>
                            
                            <p class="mt-0"><strong>{{ education.details }}</strong></p>
                            {% if education.speciality is not empty %}
                                <p class="mt-0">
                                    Option : <b>{{ education.speciality }}</b>
                                    <br>
                                    {% if education.mention is not empty %}
                                        Mention : <b>{{ education.mention }}</b>
                                        <br>
                                    {% endif %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
