{% extends 'layout.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <div class="pt-24">
        {% embed "blocks/title.html.twig" with {'pagetitle': "Formation"} %}{% endembed %}
    </div>

    <div class="container">
        Après avoir décroché mon bac, j'ai passé quelques années entre la faculté des Sciences de Bourges et celle de Clermont-Ferrand.<br>
        Dernièrement, j'ai eu l'occasion de suivre une formation sur le Product Ownership et le Product Design, très enrichissant !
        <!--
        Après l'obtention de mon baccalauréat, j'ai entrepris un parcours académique qui m'a conduit à travers deux universités prestigieuses : la faculté des Sciences de Bourges et celle de Clermont-Ferrand. Ces années d'études ont été pour moi une période de découverte et d'approfondissement de mes connaissances dans divers domaines.

À la faculté des Sciences de Bourges, j'ai eu l'opportunité d'explorer des disciplines variées, ce qui m'a permis d'acquérir une base solide dans les sciences fondamentales. J'ai été immergé dans des cours passionnants couvrant des sujets tels que les mathématiques, la physique et l'informatique, élargissant ainsi mes horizons intellectuels et stimulant ma curiosité.

Par la suite, mon parcours m'a conduit à la faculté de Clermont-Ferrand, où j'ai poursuivi mes études avec un intérêt particulier pour les domaines liés au développement de produits numériques. J'ai approfondi mes compétences en informatique et en conception de logiciels, explorant les technologies émergentes et les meilleures pratiques de l'industrie.

Plus récemment, j'ai eu la chance de participer à une formation spécialisée sur le Product Ownership et le Product Design. Cette expérience s'est avérée être une étape décisive dans mon parcours professionnel. Elle m'a permis de consolider mes connaissances théoriques et pratiques dans le domaine de la gestion de produits, en mettant l'accent sur des aspects cruciaux tels que la définition de la vision du produit, la gestion du backlog et la collaboration interdisciplinaire.

Cette formation a été particulièrement enrichissante car elle m'a permis d'approfondir ma compréhension des principes agiles et des méthodologies de développement de produits. J'ai également eu l'occasion d'explorer des concepts avancés de conception centrée sur l'utilisateur, ce qui m'a aidé à perfectionner mes compétences en matière de création d'expériences utilisateur exceptionnelles.

Dans l'ensemble, mon parcours académique et professionnel a été marqué par une quête constante de connaissances et d'excellence. Chaque étape de mon parcours m'a permis de me développer en tant que professionnel et de me rapprocher de mes objectifs professionnels. Je suis reconnaissant des opportunités qui m'ont été offertes jusqu'à présent et je suis impatient de continuer à élargir mes horizons et à relever de nouveaux défis dans le domaine du développement de produits numériques.
        -->
    </div>

    <section class="bg-white py-10">
        <div class="container items-start flex flex-col w-full mt-0 lg:flex-row sm:mt-10 lg:mt-10">
            <div class="sticky md:top-36 w-full p-4 mx-4 mb-0 sm:mb-16 lg:mb-0 lg:w-1/3"  data-aos="fade-right" data-aos-delay="300">
                <h3 class="text-2xl text-turquoise font-semibold mb-6">Formation professionnelle</h3>
                <div class="line h-1"></div>
                <img src="{{ absolute_url('images/school/formation-professionnelle.png') }}" alt="Formation professionnelle" width="250px" />
            </div>

            <div class="w-full p-4 mx-4 mb-0 sm:mb-16 lg:mb-0 lg:w-2/3" data-aos="fade-left" data-aos-delay="600">
                {% for education in data.educationsList %}
                    {% if education.type == 'pro' %}
                    <div class="bg-white mb-8 shadow-lg rounded-lg">
                        <div class="px-4 py-5 flex-auto w-full">
                            <h3 class="text-2xl font-accent font-semibold text-turquoise">{{ education.year }}</h3>
                            <h6 class="text-xl font-accent font-semibold text-perfect">{{ education.title }}</h6>
                            <div class="align-middle content-center w-full">
                                <img src="{{ absolute_url('images/school/' ~ education.school.logo) }}" class="w-20 mx-auto my-3" alt="{{ education.school.name }}">
                            </div>
                            <p class="mt-2 mb-2 text-[#374151]">
                                {{ education.school.name }}
                                - <span class="text-sm">{{ education.school.city }} ({{ education.school.department|format_number({min_integer_digit: '2'}) }})</span>
                            </p>

                            <p class="mt-0"><strong>{{ education.details }}</strong></p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="bg-gray-light-nine py-10">
        <div class="container items-start flex flex-col w-full mt-0 lg:flex-row sm:mt-10 lg:mt-10">
            <div class="sticky md:top-36 w-full p-4 mx-4 mb-0 sm:mb-16 lg:mb-0 lg:w-1/3" data-aos="fade-right" data-aos-delay="300">
                <h3 class="text-2xl text-turquoise font-semibold mb-6">Formation universitaire</h3>
                <div class="line h-1"></div>
                <img src="{{ absolute_url('images/school/formation-universitaire.png') }}" alt="Formation universitaire " width="250px" />
            </div>

            <div class="w-full p-4 mx-4 mb-0 sm:mb-16 lg:mb-0 lg:w-2/3" data-aos="fade-left" data-aos-delay="600">
                {% for education in data.educationsList %}
                    {% if education.type == 'univ' %}
                    <div class="bg-white mb-8 shadow-lg rounded-lg">
                        <div class="px-4 py-5 flex-auto w-full">
                            <h3 class="text-2xl font-accent font-semibold text-turquoise">{{ education.year }}</h3>
                            <h6 class="text-xl font-accent font-semibold text-perfect">{{ education.title }}</h6>
                            <div class="align-middle content-center w-full">
                                <img src="{{ absolute_url('images/school/' ~ education.school.logo) }}" class="w-20 mx-auto my-3" alt="{{ education.school.name }}">
                            </div>
                            <p class="mt-2 mb-2 text-[#374151]">
                                {{ education.school.name }}
                                - <span class="text-sm">{{ education.school.city }} ({{ education.school.department|format_number({min_integer_digit: '2'}) }})</span>
                            </p>

                            <p class="mt-0"><strong>{{ education.details }}</strong></p>
                            {% if education.speciality is not empty %}
                                <p class="mt-0">
                                    Option : <b>{{ education.speciality }}</b>
                                    <br>
                                    {% if education.mention is not empty %}
                                        Mention : <b>{{ education.mention }}</b>
                                        <br>
                                    {% endif %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
