<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Caroline Noyer — {% block title %}Product Owner{% endblock %}</title>

        <link rel="shortcut icon" type="image/x-icon" href="{{ absolute_url('images/global/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ absolute_url('images/global/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ absolute_url('images/global/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ absolute_url('images/global/favicon-16x16.png') }}">

        <meta name="title" content="Caroline Noyer — Product Owner">
        <meta name="description" content="Product owner depuis 4 ans sur des produits SaaS B2B, compétences UX et 12 ans de background technique dans le développement web. Dynamique, autonome et minutieuse.">
        <meta name="keywords" content="CV,Design,Product Owner,Développeur,Développeur web full-stack,PHP,Symfony">
        <meta name="author" content="Caroline Noyer">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index,follow">
        <meta name="googlebot" content="index,follow">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://carolinenoyer.fr/">
        <meta property="og:title" content="Caroline Noyer — Product Owner">
        <meta property="og:description" content="Product owner depuis 4 ans sur des produits SaaS B2B, compétences UX et 12 ans de background technique dans le développement web. Dynamique, autonome et minutieuse.">
        <meta property="og:image" content="https://carolinenoyer.fr/images/cnoyer-product-owner.jpg">
        <meta property="og:site_name" content="Caroline Noyer Online Portfolio">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://carolinenoyer.fr/">
        <meta property="twitter:title" content="Caroline Noyer — Product Owner">
        <meta property="twitter:description" content="Product owner depuis 4 ans sur des produits SaaS B2B, compétences UX et 12 ans de background technique dans le développement web. Dynamique, autonome et minutieuse.">
        <meta property="twitter:image" content="https://carolinenoyer.fr/images/cnoyer-product-owner.jpg">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">

            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="main">
            <!--Header-->
            <header class="bg-transparent sticky-bar{% if page != 'home' %} stick{% endif %}">
                <div class="container bg-transparent">
                    <nav class="bg-transparent flex justify-between items-center py-3">
                        <a class="text-3xl font-semibold leading-none" href="/">
                            <img id="logo" class="h-10" src="https://medias.carolinenoyer.fr/images/logo-cnoyer-full-250-white.svg" alt="">
                        </a>
                        <ul class="hidden lg:flex lg:items-center lg:w-auto lg:space-x-5">
                            <li class="p-4 menu-item {% if page == "experience" %}active{% endif %}">
                                <a class="" href="/experience">Expérience</a>
                            </li>
                            <li class="p-4 menu-item {% if page == "competences" %}active{% endif %}">
                                <a class="" href="/competences">Compétences</a>
                            </li>
                            <li class="p-4 menu-item {% if page == "formation" %}active{% endif %}">
                                <a class="" href="/formation">Formation</a>
                            </li>
                            <li class="p-4 menu-item {% if page == "projets" %}active{% endif %}">
                                <a class="" href="/projets">Projets</a>
                            </li>
                            <li class="p-4 menu-item {% if page == "arcade" %}active{% endif %}">
                                <a class="" href="/arcade">Arcade</a>
                            </li>
                        </ul>
                        <div class="lg:hidden">
                            <button class="navbar-burger flex items-center py-2 px-3 text-blue-500 hover:text-blue-700">
                                <svg class="fill-current h-6 w-6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                                    <title>Mobile menu</title>
                                    <!--path d="M0 3h20v2H0V3zm0 6h10v2H0V9zm0 6h15v2H0v-2z"></path-->
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M 2 20 l 16 0 M 2 4 l 20 0 M 2 12 l 12 0"></path>

                                </svg>
                            </button>
                        </div>
                    </nav>
                </div>
            </header>

            <!--Mobile menu-->
            <div class="hidden navbar-menu relative z-1000">
                <div class="navbar-backdrop fixed inset-0 bg-blue-dark opacity-25"></div>
                <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto transition duration-300">
                    <div class="flex items-center mb-8">
                        <a class="mr-auto text-3xl font-semibold leading-none" href="https://carolinenoyer.fr/">
                            <img class="h-10" src="https://medias.carolinenoyer.fr/images/logo-cnoyer-full-250.svg" alt="">
                        </a>
                        <button class="navbar-close">
                            <svg class="h-6 w-6 text-blue-gray-400 cursor-pointer hover:text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </div>
                    <div>
                        <ul class="mobile-menu">
                            <li class="mb-1">
                                <a class="block p-4 text-blueGray-500" href="/experience">Expérience</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-blueGray-500" href="/competences">Compétences</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-blueGray-500" href="/formation">Formation</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-blueGray-500" href="/projets">Projets</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-blueGray-500" href="/arcade">Arcade</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-blueGray-500" href="/creations">Créations</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-blueGray-500" href="/photos">Photos</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-auto">
                        <a class="inline-block px-1" href="https://www.linkedin.com/in/carolinenoyer" title="LinkedIn"><i class="text-2xl text-turquoise fa fa-linkedin"></i></a>
                        <a class="inline-block px-1" href="https://instagram.com/caro.noyer/" title="Instagram"><i class="text-2xl text-turquoise fa-brands fa-instagram"></i></a>
                        <a class="inline-block px-2" href="https://docs.carolinenoyer.fr/pdf/cv-cnoyer-productowner.pdf" title="CV format PDF"><i class="text-2xl text-turquoise fa fa-file-pdf"></i></a>
                    </div>
                </nav>
            </div>

            <div class="mb-5">
                {% block body %}{% endblock %}
            </div>

            <!-- Footer start -->
            <footer class="py-20 mt-5 footer">
                <section class="py-20">
                    <div class="container px-4 mx-auto">
                        <div class="flex flex-wrap mb-12 lg:mb-20 -mx-3 text-center lg:text-left">
                            <div class="w-full lg:w-2/5 px-3 mb-8 lg:mb-0 wow animate__animated animate__fadeInUp" data-wow-delay=".6s">
                                <p class="max-w-md mx-auto lg:max-w-full lg:mx-0 lg:pr-32 text-blue-gray-400 text-sm leading-relaxed">
                                De <strong>solides bases techniques</strong> et un intérêt particulier pour l’<strong>expérience utilisateur</strong>, me permettent de résoudre les
                                problèmes à tous les niveaux avec une attention portée aux détails.
                                </p>
                            </div>
                            <div class="w-full lg:w-1/5 px-3 mb-6 lg:mb-0 wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                                <a class="inline-block mx-auto lg:mx-0 text-3xl font-semibold leading-none" href="https://carolinenoyer.fr/">
                                    <img class="h-14 mx-auto" src="https://medias.carolinenoyer.fr/images/logo-2024-colored.png" alt="">
                                </a>
                            </div>
                            <div class="w-full lg:w-1/5 px-3 mb-8 lg:mb-0 wow animate__animated animate__fadeInUp" data-wow-delay=".9s">
                                <p class="mb-2 lg:mb-4 lg:text-lg text-smallcaps text-turquoise">Parcours</p>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="/experience" class="text-blue-gray-400 text-sm">Expérience</a></li>
                                    <li class="mb-2"><a href="/competences" class="text-blue-gray-400 text-sm">Compétences</a></li>
                                    <li class="mb-2"><a href="/formation" class="text-blue-gray-400 text-sm">Formation</a></li>
                                    <li class="mb-2"><a href="/projets" class="text-blue-gray-400 text-sm">Projets</a></li>
                                </ul>
                            </div>
                            <div class="w-full lg:w-1/5 px-3 wow animate__animated animate__fadeInUp" data-wow-delay="1.2s">
                                <p class="mb-2 lg:mb-4 lg:text-lg text-smallcaps text-turquoise">Centres d'intérêt</p>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="/creations" class="text-blue-gray-400 text-sm">Créations</a></li>
                                    <li class="mb-2"><a href="/photos" class="text-blue-gray-400 text-sm">Photos</a></li>
                                    <li class="mb-2"><a href="/arcade" class="text-blue-gray-400 text-sm">Arcade</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="flex flex-col lg:flex-row items-center lg:justify-between">
                            <p class="text-xs text-blue-gray-400 wow animate__animated animate__fadeInUp" data-wow-delay="1.5s"><b>©Nine | Copyright</b> 2006-{{ "now"|date("Y") }} &bull; <a x-on:click="showPrivacyPolicy = true" class="" href="#"> View Privacy Policy </a></p>
                            <div class="order-first lg:order-last -mx-2 mb-4 lg:mb-0 wow animate__animated animate__fadeInUp" data-wow-delay="1.8s">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/carolinenoyer" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="list-inline-item"><a href="https://instagram.com/caro.noyer/" target="_blank" title="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="https://open.spotify.com/playlist/3g3bePO9Jddljzgx5wS4IM?si=c4a65cd590b04b94" target="_blank" title="Spotify"><i class="fa-brands fa-spotify"></i></a></li>
                                    <li class="list-inline-item"><a href="https://github.com/thedarknine" target="_blank" title="GitHub"><i class="fa fa-github-alt"></i></a></li>
                                    <li class="list-inline-item"><a href="https://dribbble.com/TheDarkNine" target="_blank" title="Dribbble"><i class="fab fa-dribbble"></i></a></li>
                                    <li class="list-inline-item"><a href="https://docs.carolinenoyer.fr/pdf/cv-cnoyer-productowner.pdf" title="CV au format PDF"><span><i class="fa fa-file-pdf"></i></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
        </div>

{#
        <div x-data="{ showPrivacyPolicy: false }" class"hidden">
            
            <!-- Privacy Policy Modal -->
            <div x-show="showPrivacyPolicy" class="fixed z-10 inset-0 flex items-center justify-center">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
            <div class="relative bg-white rounded-lg overflow-hidden shadow-xl max-w-screen-md w-full m-4" x-transition:enter="transition ease-out duration-300 transform opacity-0 scale-95" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-200 transform opacity-100 scale-100" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95" x-cloak>
                <!-- Modal panel -->
                <div class="px-6 py-4">
                <h3 class="text-lg leading-6 font-medium text-gray-900"> Privacy Policy </h3>
                </div>
                <div class="prose max-w-screen-md p-6 overflow-y-auto" style="max-height: 70vh; background-color: #fff; border: 1px solid #e2e8f0; border-radius: 0.375rem; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);">
                <h2 class="text-2xl font-bold mb-4">Privacy Policy</h2>
                <p class="mb-4">This Privacy Policy describes how we collect, use, and disclose information that we obtain through our website and services.</p>
                <h3 class="text-lg font-semibold mb-2">Information We Collect</h3>
                <p>We may collect the following types of information:</p>
                <ul class="list-disc ml-6 mb-4">
                    <li>Personal Information: We may collect your name, email address, and other personal information when you provide it to us.</li>
                    <li>Usage Information: We may collect information about your usage of our website and services, such as the pages you visit and your interactions with our content.</li>
                </ul>
                <h3 class="text-lg font-semibold mb-2">How We Use Your Information</h3>
                <p>We may use your information for various purposes, including:</p>
                <ul class="list-disc ml-6 mb-4">
                    <li>Providing our services to you</li>
                    <li>Sending you updates and information about our products and services</li>
                    <li>Improving our website and services</li>
                </ul>
                <h3 class="text-lg font-semibold mb-2">Disclosure of Your Information</h3>
                <p>We may disclose your information to third parties in certain circumstances, including:</p>
                <ul class="list-disc ml-6 mb-4">
                    <li>With your consent</li>
                    <li>When required by law</li>
                    <li>With service providers and partners who assist us in delivering our services</li>
                </ul>
                <h3 class="text-lg font-semibold mb-2">Security</h3>
                <p>We take reasonable measures to protect your information, but no method of transmission over the internet is 100% secure. We cannot guarantee the security of your information.</p>
                <h3 class="text-lg font-semibold mb-2">Changes to this Privacy Policy</h3>
                <p>We may update this Privacy Policy from time to time. Any changes will be posted on our website. By continuing to use our services, you agree to the updated Privacy Policy.</p>
                <p class="mt-4">
                    <a href="/privacy-policy" class="text-blue-500 hover:underline">Read our full Privacy Policy</a>.
                </p>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 flex align-items justify-end p-4 gap-4 flex-row">
                <button x-on:click="showPrivacyPolicy = false" type="button" class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-turquoise text-base font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400  sm:w-auto sm:text-sm"> Fermer </button>
                </div>
            </div>
            </div>
        </div> #}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
            <script src="https://kit.fontawesome.com/e13f84fe9c.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script type='text/javascript'>
            // Some default pre init
            var Countly = Countly || {};
            Countly.q = Countly.q || [];

            Countly.app_key = "f18d89edd54dd15a7c1aeaafa1c81559a0efba0e";
            Countly.url = "https://portfolio-ffed4888b39b1.flex.countly.com";

            Countly.q.push(['track_sessions']);
            Countly.q.push(['track_pageview']);

            // Load Countly script asynchronously
            (function() {
            var cly = document.createElement('script'); cly.type = 'text/javascript';
            cly.async = true;
            // Enter URL of script here (see below for other option)
            cly.src = 'https://cdn.jsdelivr.net/npm/countly-sdk-web@latest/lib/countly.min.js';
            cly.onload = function(){Countly.init()};
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cly, s);
            })();
        </script>

        <!-- Matomo -->
        <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//analytics.carolinenoyer.fr/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
        </script>
        <!-- End Matomo Code -->

    </body>
</html>
