{% extends 'layout.html.twig' %}

{% block title %}Photos{% endblock %}

{% block body %}
    <div class="pt-24">
        {% embed "blocks/title.html.twig" with {'pagetitle': "Photos"} %}{% endembed %}
    </div>

    <div class="container text-perfect">
        J'ai découvert un attrait pour la photographie au détour des mes randonnées à travers le parc des Volcans d'Auvergne.
        Ce fut pour moi une façon de lier l'utile à l'agréable ! Ramener des clichés de ces endroits accessibles uniquement à 
        la force de mes jambes (et un peu de dépassement de soi !). 
        <!--
        La photographie est devenue une passion pour moi lors de mes explorations à travers le parc des Volcans d'Auvergne. Ce magnifique environnement naturel a été pour moi une source inépuisable d'inspiration et de découvertes, et la photographie s'est révélée être le moyen parfait de capturer et de partager la beauté de ces paysages époustouflants.

Ce qui m'a attiré vers la photographie, c'est la possibilité de combiner l'utile à l'agréable. Chaque randonnée à travers le parc des Volcans d'Auvergne était une aventure en soi, une occasion de me ressourcer et de me connecter avec la nature. Mais en plus de cela, la photographie m'a offert la possibilité de documenter ces moments précieux, de les immortaliser à travers l'objectif de mon appareil photo.

Chaque cliché que je ramenais de mes excursions représentait bien plus qu'une simple image. C'était le fruit de mes efforts et de mon engagement à explorer des endroits accessibles uniquement à la force de mes jambes, parfois même après un certain dépassement de soi. Chaque photo était le témoignage de mes aventures, de mes découvertes et de mes émotions ressenties lors de ces moments privilégiés en plein cœur de la nature.

La photographie est devenue pour moi bien plus qu'un passe-temps. C'est devenu un moyen d'expression, une façon de partager ma vision du monde avec les autres. Chaque fois que je regarde mes photos du parc des Volcans d'Auvergne, je suis transporté instantanément dans ces paysages majestueux, avec le bruit du vent dans les arbres et le parfum de la terre sous mes pieds.

En fin de compte, la photographie m'a permis de créer des souvenirs durables et de partager la beauté et la magie de la nature avec ceux qui n'ont pas eu la chance de vivre ces expériences en personne. Et pour cela, je suis infiniment reconnaissant.
        -->
    </div>

    {% for type in data.photoTypesList %}
    <section class="{% if loop.index is even %}bg-gray-light-nine{% else %}bg-white{% endif %} py-10">
        <div class="container">
            <h3 class="my-10 text-2xl font-accent font-semibold text-turquoise">{{ type.name }}</h3>
            {% set listItemsPhotos = data.photosList[type.label] %}
            <div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
                {% for photo in listItemsPhotos %}
                    <div class="shadow-lg mb-4">
                        <div>
                            <a href="{{ 'images/photos/' ~ type.label ~ '/' ~ photo.filename }}" class="glightbox9" data-gallery="gallery{{ type.id }}" data-title="{{ photo.caption }}" data-desc-position="right">
                                <img src="{{ 'images/photos/' ~ type.label ~ '/' ~ photo.filename }}" alt="{{ photo.caption }}" class="rounded">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock %}
