{% extends 'layout.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    <div class="pt-24">
        {% embed "blocks/title.html.twig" with {'pagetitle': "Side projects"} %}{% endembed %}
    </div>

    {% for project in data.projectsList %}
        <section class="{% if loop.index is even %}bg-gray-light-nine{% else %}bg-white{% endif %} py-10">
            <div class="container flex flex-col w-full mt-0 lg:flex-row sm:mt-10 lg:mt-10">
                <div class="flex flex-col sticky md:top-36 w-full max-w-md p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-1/4 wow animate__animated animate__fadeInLeft" data-wow-delay="0.6s">
                    <h3 class="text-2xl text-turquoise font-semibold mb-2">{{ project.name }}</h3>
                    <div class="line h-1"></div>
                    <h4 class="text-blue-nine text-xl mb-6">{{ project.period }}</h4>
                    <img src="{{ absolute_url('images/project/' ~ project.logo) }}" alt="{{ project.name }}" class="w-24 mx-auto">
                </div>

                <div class="w-full max-w-xl p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-3/4 wow animate__animated animate__fadeInRight" data-wow-delay="0.6s">
                    {{ project.description|raw }}

                    {% if project.screenshots is not empty %}
                        {% set screenshotsList = project.screenshots|split('::') %}
                        {% if screenshotsList is iterable %}
                            <div class="content-center py-3">
                                <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-x-8">
                                    {% for screenshot in screenshotsList %}
                                        <div class="relative flex flex-wrap shadow-lg rounded-xl bg-white mb-10">
                                            <a href="{{ absolute_url('images/project/' ~ screenshot) }}" class="glightbox9" data-gallery="gallery{{ project.id }}">
                                                <img class="rounded object-cover h-full" src="{{ absolute_url('images/project/' ~ screenshot) }}" alt="{{ project.name }}" />
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="content-center">
                                <div class="shadow-lg rounded-xl">
                                    <img class="rounded" src="{{ absolute_url('images/project/' ~ project.screenshot) }}" alt="{{ project.name }}" />
                                </div>
                            </div>
                        {% endif %}

                    {% endif %}
                </div>
            </div>
        </section>
    {% endfor %}

{% endblock %}
